Jamais insira comentários nos meus códigos.
Todas as variáveis, prints, funções, TUDO dentro dos códigos deve ser em ingles.
Não insira tratamento de exceção (try/except) a menos que eu peça.
Não insira prints/loggings a menos que eu peça.
Nunca comente meus codigos python a menos que solicitado.
Comentários dentro dos códigos estão proibidos.