accelerate==1.6.0
anyio==4.9.0
assemblyai==0.38.0
boto3==1.37.38
botocore==1.37.38
huggingface-hub==0.30.2
Jinja2 
llama_cpp_python==0.3.8
moviepy==2.1.2
ninja==1.11.1.4
numpy 
optimum==1.24.0
pillow==10.4.0
sentencepiece==0.2.0
sympy 
tokenizers==0.21.1
torch 
torchvision 
tqdm==4.67.1
transformers==4.51.3
